<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swpu.uchain.takeawayapplet.dao.GreenBaseMapper">
    <resultMap id="BaseResultMap" type="com.swpu.uchain.takeawayapplet.entity.GreenBase">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="p_id" property="pId" jdbcType="INTEGER"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from greens_base
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.swpu.uchain.takeawayapplet.entity.GreenBase">
    insert into greens_base (id, p_id, product_name
      )
    values (#{id,jdbcType=INTEGER}, #{pId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.swpu.uchain.takeawayapplet.entity.GreenBase">
    update greens_base
    set p_id = #{pId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, p_id, product_name
    from greens_base
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, p_id, product_name
    from greens_base
  </select>
    <select id="selectAllByPid" resultType="com.swpu.uchain.takeawayapplet.VO.GreenBaseListVO">
    select id, product_name
    from greens_base
    where p_id=#{pid}
    </select>
    <select id="selectByPidAndProductName" resultType="com.swpu.uchain.takeawayapplet.entity.GreenBase">
      select id,p_id,product_name
      from greens_base
      where p_id = #{param1} and product_name=#{param2}
    </select>
    <select id="selectByPid" resultType="com.swpu.uchain.takeawayapplet.entity.GreenBase">
    select id, p_id,product_name
      from greens_base
      where p_id = #{pid}
  </select>
    <select id="selectBaseAndExPandByPid" resultType="com.swpu.uchain.takeawayapplet.dto.GreenBaseDTO">
    select id, p_id,product_name
      from greens_base
      where p_id = #{pid}
    </select>
</mapper>